.controlsBackground {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  z-index: 100;
  width: 320px;
}
@media screen and (max-width: 600px) {
  .controlsBackground {
    width: 100%;
  }
}
.controlsBackgroundInner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
}
