.button {
  border: 1px solid;
  border-color: inherit;
  padding: 0.8rem 1rem;
  text-align: center;
  border-radius: 3px;
  width: 100%;
}
.button-group {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
