.content {
  transition: opacity 0.3s;
}
.content.is-loading .moon {
  animation: fadeInOut 4s ease-in-out infinite;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
