.controls {
  width: 250px;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  z-index: 100;
  text-align: left;
  max-height: 100vh;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  .controls {
    width: 100%;
  }
}

.inner {
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .inner {
    padding: 10px;
  }
}

.info {
  font-style: italic;
  display: block;
  margin-bottom: 2em;
}

.content {
  margin-top: 0.5em;
  border-top: 2px dotted;
  border-color: inherit;
  position: relative;
}
