.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(4px);
}
.moon {
  border-radius: 50%;
}
.earth {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
@media (orientation: landscape) {
  .moon {
    width: 90vh;
    height: 90vh;
  }
  .earth {
    width: 90vh;
    height: 90vh;
  }
}
@media (orientation: portrait) {
  .moon {
    width: 90vw;
    height: 90vw;
  }
  .earth {
    width: 90vw;
    height: 90vw;
  }
}

.isLoading {
  animation: fadeInOut 4s ease-in-out infinite;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
