.moon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  filter: blur(4px);
}
.earth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  filter: blur(4px);
}

@media (orientation: landscape) {
  .moon {
    width: 90vh;
    height: 90vh;
  }
  .earth {
    /* extra pixels to get rid of white halo */
    width: calc(90vh + 20px);
    height: calc(90vh + 20px);
  }
}
@media (orientation: portrait) {
  .moon {
    width: 90vw;
    height: 90vw;
  }
  .earth {
    width: calc(90vw + 20px);
    height: calc(90vw + 20px);
  }
}

.isLoading {
  animation: fadeInOut 4s ease-in-out infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
