.range__number {
  display: block;
}
.range__footer {
  font-size: 12px;
}
.range__label-wrap {
  display: flex;
  justify-content: space-between;
}
.range__label {
  font-weight: bold;
}
.range__input {
  width: 100%;
}
