body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}
button {
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: transparent;
  color: inherit;
  line-height: 1;
  cursor: pointer;
  transition:
    background 250ms ease-in-out,
    transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  flex: 1 1 0;
}
button:disabled {
  color: gray;
  border-color: gray;
  cursor: default;
  pointer-events: none;
}
button:focus {
  outline: none;
}
