body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}

.background {
  position: fixed;
  z-index: -1;
  background-color: rgb(255, 0, 255);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: linear background-color 0.3s;
}

.background:before {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 800px;
  opacity: 0.12;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.content {
  transition: opacity 0.3s;
}

.content.is-loading .moon {
  animation: fadeInOut 4s ease-in-out infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0; /* Starts completely transparent */
  }
  50% {
    opacity: 1; /* Fully visible at the midpoint */
  }
  100% {
    opacity: 0; /* Ends completely transparent, ready to loop */
  }
}

/*------------------------------------*\
    #CONTROLS
\*------------------------------------*/
.controls,
.controls__background {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  z-index: 100;
}

.controls {
  width: 300px;
  text-align: left;
  max-height: 100vh;
  display: flex;
  justify-content: center;
}

.controls__inner {
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.controls__background {
  width: 320px;
}

.controls__background-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.controls__background--mobile {
  opacity: 0.6;
}
.is-closed-controls .controls__background {
  display: none;
}

.controls__content {
  margin-top: 0.5em;
  border-top: 2px dotted;
  border-color: inherit;
  position: relative;
}

.controls__header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-weight: bold;
  flex: 0 0 auto;
  justify-content: end;
}

.controls__icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5em;
}

.controls__title {
  line-height: 24px;
  letter-spacing: 0.1em;
  font-size: inherit;
  margin: 0;
}

.is-dark-color .icon__main {
  fill: white;
}
.is-dark-color .icon__accent {
  stroke: black;
}
.is-light-color .icon__main {
  fill: black;
}
.is-light-color .icon__accent {
  stroke: white;
}

.control {
  display: block;
  margin-bottom: 2em;
}

.control--info {
  font-style: italic;
}

/*------------------------------------*\
    #RANGE
\*------------------------------------*/

.range__number {
  display: block;
}

.range__footer {
  font-size: 12px;
}

.range__label-wrap {
  display: flex;
  justify-content: space-between;
}

.range__label {
  font-weight: bold;
}

.range__input {
  width: 100%;
}

/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
/* https://css-tricks.com/overriding-default-button-styles/ */
button {
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: transparent;
  color: inherit;
  line-height: 1;
  cursor: pointer;
  transition:
    background 250ms ease-in-out,
    transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  flex: 1 1 0;
}

button:disabled {
  color: gray;
  border-color: gray;
  cursor: default;
  pointer-events: none;
}

button:focus {
  outline: none;
}

.button {
  border: 1px solid;
  border-color: inherit;
  padding: 0.8rem 1rem;
  text-align: center;
  border-radius: 3px;
  width: 100%;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/*------------------------------------*\
    #TOGGLE BUTTON
\*------------------------------------*/
.toggle-buttons {
  width: 100%;
  display: flex;
}

.toggle-button {
  border: 1px solid;
  border-color: inherit;
  padding: 0.8rem 1rem;
  text-align: center;
}

.toggle-button:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: none;
}

.toggle-button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/*------------------------------------*\
    #CONDITIONS
\*------------------------------------*/
.precipitation {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  overflow: hidden;
}

.rainy {
  position: absolute;
  border-radius: 50%;
  transition: all 0.2s;
}

.snowy {
  position: absolute;
  transform: rotate(45deg);
  background-color: white;
  transition: all 0.2s;
}

/*------------------------------------*\
    #MOON
\*------------------------------------*/
.moon-earth-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(4px);
}

.moon {
  border-radius: 50%;
}

.earth {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (orientation: landscape) {
  .moon {
    width: 90vh;
    height: 90vh;
  }
  .earth {
    width: 90vh;
    height: 90vh;
  }
}

@media (orientation: portrait) {
  .moon {
    width: 90vw;
    height: 90vw;
  }
  .earth {
    width: 90vw;
    height: 90vw;
  }
}
