.content {
  transition: opacity 0.3s;
}

.allowText,
.errorText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 500px;
  color: rgb(134, 134, 134);
  font-size: 1.2rem;
  line-height: 1.2;
  text-align: center;
  z-index: 10;
  font-style: italic;
  animation: fadeIn 1.5s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
