body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}

.background {
  position: fixed;
  z-index: -1;
  background-color: rgb(255, 0, 255);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content {
  transition: opacity 0.3s;
}
.content.is-loading {
  opacity: 0;
  transition: opacity 0.3s;
}





/*------------------------------------*\
    #CONTROLS
\*------------------------------------*/
.controls,
.controls__background {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  z-index: 100;
}

.controls {
  padding: 3em;
  width: 340px;
  text-align: left;
}

.controls__background {
  width: 390px;
}

.controls__background-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.controls__background--mobile { opacity: 0.6; }
.is-closed-controls .controls__background { display: none; }

.controls__content {
  margin-top: 0.5em;
  border-top: 2px dotted;
  border-color: inherit;
  position: relative;
}

.controls__control {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-weight: bold;
}

.controls__icon {
  width: 24px !important;
  height: 24px !important;
  stroke-width: 5;
  margin-right: 0.5em;
}

.controls__text { line-height: 24px; }

.is-dark-color .icon__main { fill: white; }
.is-dark-color .icon__accent { stroke: black; }
.is-light-color .icon__main { fill: black; }
.is-light-color .icon__accent { stroke: white; }

.control {
  display: block;
  margin-bottom: 2em;
}

@media only screen and (max-width: 1200px) {
  .controls { padding: 1em; }
  .controls, .controls__background { width: 100%; }
  .controls__content { display: none; }
  .controls__background--desktop { display: none; }
  .control { margin-bottom: 1em; }
}

@media only screen and (min-width: 1200px) {
  .is-closed-controls .controls__control { justify-content: flex-end; }
  .controls__background--mobile { display: none; }
}




/*------------------------------------*\
    #RANGE
\*------------------------------------*/
.range__number {
  display: block;
}

.range__footer {
  font-size: 12px;
}

.range__label-wrap {
  display: flex;
  justify-content: space-between;
}

.range__label {
  font-weight: bold;
}

.range__input { width: 100%; }





/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
/* https://css-tricks.com/overriding-default-button-styles/ */
button {
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: transparent;
  color: inherit;
  line-height: 1;
  cursor: pointer;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  flex: 1 1 0;
}

button:disabled {
  color: gray;
  border-color: gray;
  cursor: default;
  pointer-events: none;
}

button:focus {
  outline: none;
}

.button {
  border: 1px solid;
  border-color: inherit;
  padding: 0.5rem 1rem;
  text-align: center;
}

.button-group .button { margin-right: 0.6rem; }
.button-group .button:last-child { margin-right: 0; }

.button:hover {
  background: rgba(255, 255, 255, 0.5);
}

.is-dark-color .button.is-active {
  background: white;
  color: black;
  border-color: white;
}
.is-light-color .button.is-active {
  background: black;
  color: white;
  border-color: black;
}

.button-group,
.toggle-button {
  display: flex;
}





/*------------------------------------*\
    #CONDITIONS
\*------------------------------------*/
.clouds {
  z-index: 20;
  position: fixed;
  width: 50%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  top: 0;
  left: 0;
}

.night {
  position: fixed;
  z-index: 10;
  background-color: black;
  opacity: 0.2;
  top: 0; left: 0; right: 0; bottom: 0;
}

.precipitation {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  overflow: hidden;
}

.rainy {
  position: absolute;
  border-radius: 50%;
  background-color: blue;
  transition: all 0.2s;
}

.snowy {
  position: absolute;
  transform: rotate(45deg);
  background-color: white;
  transition: all 0.2s;
}






/*------------------------------------*\
    #MOON
\*------------------------------------*/
.moon-earth-wrapper {
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.moon {
  border-radius: 50%;
  width: 90vh;
  height: 90vh;
}

.earth {
  border-radius: 50%;
  width: 90vh;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 0;
}






/*------------------------------------*\
    #LIGHTNING
\*------------------------------------*/
/*
.lightning {
  z-index: 50;
  top: 0;
  left: calc(50% - 2px);
  position: absolute;
}


.lightning-strike {
  width: 4px;
  height: 100vh;
  background-color: yellow;
  position: absolute;
  top: 0;
}

  .lightning-strike-1 {
    transform: rotate(45deg);
  }
  .lightning-strike-2 {
    transform: rotate(-45deg);
  }
*/
